
/* ------------------- Var -------------------*/
*{
    --color-grayish : #d9d9d9;
    --color-greenishblue : rgb(60,110,113);
    --color-greenishblue-gradient:linear-gradient(0deg, rgba(28,66,84,1) 0%, rgba(60,110,113,1) 41%, rgba(88,177,154,1) 100%);
    --color-blackbrownish : #353535;
    --color-bluish : #284B63;
    --color-bluish-gradient: linear-gradient(25deg, rgb(14, 38, 54) 0%, rgba(40,75,99,1) 53%, rgb(151, 172, 187) 100%);
    --color-bluish-gradient2: linear-gradient(180deg, rgba(7,26,43,1) 0%, rgba(40,75,99,1) 50%, rgba(68,123,143,1) 100%);
}
body{
    margin: 0;
    height: 100vh;
}
html{
    background-color:rgb(151, 172, 187);
}
/* ------------------- Nav -----------------*/
nav{
    width: 100%;
    justify-content: space-between;
    font-size: 1em;
}
nav>div>a{
    opacity: 1;
    width: auto;
    text-align: left;
    text-decoration: none;
}
nav a{
    font-size: 2em;
    color:var(--color-grayish);
    text-decoration: none;
    transition: color 0.2s linear;
}
nav i{
    transition: transform 0.3s,padding 0.3s;
}

nav div:first-child i:hover{
    transform: scale(1.5) rotate(10deg);
    padding-right: 0.2em;
    padding-left: 0.2em;
}
nav div:last-child i:hover{
    transform: scale(1.5) rotate(-10deg);
    padding-left: 0.2em;
    padding-right: 0.2em;
}
/* --------------------- Header -----------------*/
header{
    position: relative;
    min-height: 15%;
    background: var(--color-bluish-gradient2);
    margin-bottom: 2rem;
    box-shadow: 2px 2px 50px rgba(8, 25, 44, 0.466);
    overflow: hidden;
}
header>div{
    color: white;
    top:0;
    padding: 2rem;
    font-size: 1.2rem;
}
.absolute{
    position: absolute;
}
.headerImg{
    width: 100%;
    height: 50vh;
    opacity: 35%;
    transform: scaleX(-1);
}
.headerTitle{
    background-color:rgba(60,110,113,.3);
    padding: 1.5rem;
    border-radius: 4px;
    font-size: 0.8em;
}
/* ------------------ Main -----------------------*/
main{
    min-height: 70%;
    height: fit-content;
}
.title{
    color:var(--color-blackbrownish);
}
.container{
    flex-flow: column wrap;
    align-items: center;
}
.producecard{
    background: var(--color-bluish-gradient);
    width:80%;
    height: 35vh;
    margin-bottom: 3.5rem;
    border-radius: 4px;
    box-shadow: black 0px 1px 3px;
    transition: transform .3s;
}
.producecard:hover{
    transform: scale(1.05);
}
.producecard figure{
    margin:0;
    height: 100%;
    width: 100%;
}
.producecard a{
    width:60%;
    height:100%;
    color:rgb(130, 245, 201);
}
.producecardContainerUp{
    width:100%;
    height:60%;
}
.producecard img{
    width:100%;
    height: 100%;
    border-radius: 4px 0 0 0;
}
main>div>article>div>ul{
    width:50%;
    background: white;
    justify-content:space-around;
    border-radius: 0 4px 0 0;
}
main>div>article>div>ul>li{
    font-size: 1em;
    padding: 0.5rem;
    margin: 0.5rem;
    word-wrap: break-word;
    text-align: center;
}
article .fas {
    color:var(--color-blackbrownish);
    font-size: 2em;
    transition: transform 0.5s;
}
article .fas:hover{
    color:var(--color-greenishblue);
    transform: scale(1.5) rotate(5deg);
}
/* -------------------------------- footer -------------------- */
footer{
    align-self: flex-end;
    background: var(--color-greenishblue-gradient);
    border-top:solid 1px #92c3c5;
    justify-content: center;
    margin-top: 5rem;
    min-height: 15%;
    box-shadow: -2px -2px 50px rgba(41, 80, 77, 0.63);
}
.footerContainer{
    max-width: 80%;
    align-self: center;
}
.footerSection{
    background: var(--color-blackbrownish);
    color:#d9d9d9;
    border-top: solid rgb(37, 37, 37) 1px;
    border-radius: 0 0 4px 4px;
    width: 100%;
    align-self: center;
    text-align: center;
    font-size: 10px;
    box-shadow: 1px 1px 0px #6fa1a3,-1px 0px 0px #000000;}
.contact{
    justify-content: space-between;
    font-size: 3rem;
    }
/* ---------------------------- Classes and global -------------------------- */

a,i{
    text-decoration: none;
    color: var(--color-grayish);
    transition: color 0.3s;
}
a:hover, i:hover{
    color:white;
}
ul{
    margin:0;
    padding: 0;
    white-space: normal;
}
li{
    list-style: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Share Tech Mono','monospace';
}

.flex{
    display: flex;
}
.flexcolumn{
    display: flex;
    flex-direction: column;
}
.flexrow{
    display: flex;
    flex-direction: row;
}
.flexwrap{
    display: flex;
    flex-wrap: wrap;
}
.icon{
    margin: 4px;
    padding: 4px;
    height:30px;
    width: 30px;
}
.centered{
    justify-content: center;
    align-items: center;
}
/* Custom header img for other page*/
.headerImgReduced{ 
    height: 10vh;
    width: 100%;
}
.itemdescription{
    height: fit-content;
    color:white;
    width:100%;
    flex-wrap: wrap;
}
.itemdescription p{
    padding: 1em;
}
#textmail{
    resize: none;
    width: 70%;
    height:8rem;
    text-indent: 0;
}
/** -------------------------- Product Page ---------------------- */
.mainProduct{
    justify-content: center;
    font-size: 1.3em;
}
main>section{
    align-items: center;
}
.producecardFull{
    align-items: center;
    width:90%;
    background: var(--color-bluish-gradient);
    margin: 4px;
    border-radius: 4px;
    box-shadow: 5px 5px 25px rgb(163, 163, 163),-5px -5px 25px rgb(163, 163, 163);
}
main section img{
    width: 100%;
    height: 90%;
    border-radius: 4px 4px 0 0;
}
.producecardFull>img{
    height: 100%;
    width: 100%;
}
.price{
    flex-flow: column;
    height: 100%;
    width:100%;
    font-size: 1rem;
    justify-content: space-around;
}
.price a,.price h2{
    margin:0;
    padding:0.4em;
}
.kart{
    order:4;
}
.kart a{
    justify-content: flex-end;
}
.price>h2{
    order:1;
    height:100%;
    width: 100%;
}
.producecardFull a{
    color: var(--color-grayish);
    height:100%;
    width: 100%;
    font-size: 2em;
}
.producecardFull i{
    color: var(--color-grayish);
    font-size: 2em;
}

/* -------------------------------- About/contact Page -------------------------*/
iframe{
    height:100%;
    width:100%;
}
.formcontainer{
    align-self: center;
    justify-self: c;
    text-align: left;
}
.title{
    text-align: center;
}
#aboutMain{
    align-items: flex-start;
}
.aboutCard{
    background: white;
    min-height: 15vh;
    height: fit-content;
    width: 80%;
    display: inline-block;
    padding: 0 5px 0 5Px;
    word-wrap: break-word;
    font-size: 13px;
}
.aboutCardLeft{
    border-radius: 0 4px 0 0;
    padding:1rem;
}
.aboutCardRight{
    color: white;
    background: var(--color-bluish);
    align-self: flex-end;
    text-align: end;
    padding:1rem;
    border-radius: 4px 0 0 0;
}
.aboutCardCenter{
    align-self: center;
    text-align: center;
    height: fit-content;
    background: var(--color-blackbrownish);
    color: white;
    padding: 1rem;
    margin-bottom: 5rem;
}
.videoCardCenter{
    align-self: center;
    text-align: center;
    width: 80%;
    height:40vh;
    background: var(--color-blackbrownish);
    color: white;
    padding: 1rem;
    margin-bottom: 5rem;
}
#age{
    width:3rem;
}
input:invalid{
    /*Todo*/
}
/*-------------------------PRESTA-----------------------*/
table{
    background-color: var(--color-blackbrownish);
    width: 60vw;
    height:35vh;
    color:white;
    font-size: 1.2rem;
    border-radius: 4px;
}
thead{
    background-color: var(--color-bluish);
    font-size:2em;
}
td{
    border: 1px solid var(--color-blackbrownish);
    border-radius: 2px;
    padding:0.5em;
}
tr:nth-child(odd) td{
    border-left:2px solid var(--color-bluish);
    border-right:2px solid var(--color-bluish);
}
table tr:nth-child(even){
    background-color: var(--color-bluish);
}
@media (max-height:900px){
    .producecard{
        font-size:0.8em;
        height:50vh;
    }
    .producecard ul{
        font-size: 0.7em;
    }
}
@media (min-width:500px) {
    /*--------------header+nav---------------*/
    nav a {
        font-size: 2.5rem;
    }
    .footerContainer{
        max-width: 50%;
    }
    .headerTitle{
        font-size: 1.2em;
    }
    /*--------------Main-----------------*/

    .producecard{
        width:30em;
        margin:2em;
    }
    /*----------About/contact------------*/
    .aboutCard{
        font-size: 1.3em;
    }
    .footerSection{
        width:40em;
    }
    #textmail{
        width:40%;
    }
    /*--------Products---------*/
    .price{
        flex-flow: row nowrap;
    }
    .price a i{
        font-size: 2em;
    }
    /*----------------table----------------*/
    table{
        width:90vw;
    }
    td{
        padding:1.5em;
    }
}
@media (min-width:900px) {
    header{
        background-image: url("../img/459032.jpg");
        background-size: 100%;
    }
    .headerImg{
        opacity:0;
    }
    
    header>div{
        width:96vw;
    }
    /*--------------Main-----------------*/
    .container{
        flex-flow: row wrap;
    }
    .producecard{
        width:30em;
        height:35rem;
        margin:2em;
    }
    .producecardFull{
        width:60%;
        height:50vh;
        margin: 0.5em;
        flex-direction: row;
    }
    .producecardFull .itemdescription{
        flex-direction: column;
    }
}