
/* ------------------- Var -------------------*/
:root{
    --color-grayish : #d9d9d9;
    --color-greenishblue : rgb(60,110,113);
    --color-blackbrownish : #353535;
    --color-bluish : #284B63;
}
body{margin: 0;}
/* ------------------- Nav -----------------*/
nav{
    position: absolute;
    z-index: 1;
    width: 100%;
    justify-content: space-between;
}
nav>div>button{
    opacity: 1;
    width: auto;
    text-align: left;
    background: rgba(107, 107, 107, 0);
    border:1px solid var(--color-grayish);
    text-decoration: none;
}
nav a{
    color:var(--color-grayish);
    text-decoration: none;
}
nav>div>button:hover{
    color: red;
}
nav a:visited{
    color: var(--color-grayish);
}
/* --------------------- Header -----------------*/
header{
    position: relative;
    min-height: 10vh;
    background: var(--color-bluish);
}
header>div{
    position: absolute;
    color: white;
    top:0;
    font-size: 20px;
}
.headerImg{
    width: 100%;
    height: 50vh;
    opacity: 35%;
    transform: scaleX(-1);
}
/* ------------------ Main -----------------------*/
main{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(60,110,113,1) 25%, rgba(60,110,113,1) 27%, rgba(60,110,113,1) 33%, rgba(40,75,99,1) 100%);
    min-height: 80vh;
}
main>div{
    flex-flow: column wrap;
    align-items: center;
}
main>div>article{
    background: var(--color-bluish);
    width:80%;
    height: 45vh;
    margin: 10px 0 10px 0;
    border-radius: 4px;
    box-shadow: black 0px 1px 3px;
}
main>div>article>div{
    height:60%;
}
main>div>article>div>a>img{
    width:100%;
    height: 100%;
    border-radius: 4px 0 0 0;
}
main>div>article>div>ul{
    background: var(--color-grayish);
    justify-content:space-around;
    border-radius: 0 4px 4px 0;
}
main>div>article>div>ul>li{
    display: inline-block;
    width: 30vw;
    padding: 4px;
    margin: 4px;
    word-wrap: break-word;
    text-align: center;
}
/* -------------------------------- footer -------------------- */
footer{
    background: var(--color-greenishblue);
    justify-content: center;
}
.footerSection{
    background: var(--color-blackbrownish);
    color:#d9d9d9;
    border-radius: 4px;
    width: 80%;
    align-self: center;
    text-align: center;
    font-size: 10px;
    box-shadow: 1px 1px 0px #6fa1a3;}
ul{
    margin:0;
    padding: 0;
    white-space: normal;
}
li{
    list-style: none;
}

/* ---------------------------- Classes and global -------------------------- */
.contact{
    justify-content: space-evenly;
}
.flex{
    display: flex;
}
.flexcolumn{
    display: flex;
    flex-direction: column;
}
.flexrow{
    display: flex;
    flex-direction: row;
}
.flexwrap{
    display: flex;
    flex-wrap: wrap;
}
.icon{
    margin: 4px;
    padding: 4px;
    height:30px;
    width: 30px;
}

/* Custom header img for other page*/
.headerImgReduced{ 
    height: 10vh;
    width: 100%;
}

/** -------------------------- Product Page ---------------------- */
.mainProduct{
    justify-content: center;
    font-size: 13px;
}
main>section{
    align-items: center;
}
main>section>article{
    align-items: center;
    width:90%;
    background: var(--color-grayish);
    margin: 4px;
    border-radius: 4px;
}
main section img{
    width: 100%;
    height: 90%;
    border-radius: 4px 4px 0 0;
}
.price{
    margin: 0;
    padding: 4px;
    height: 5vh;
    font-size: 12px;
    justify-content: space-between;
}
.itemdescription{
    background: var(--color-bluish);
    color:white;
    padding: 1px;
}
/* -------------------------------- About Page -------------------------*/
.title{
    text-align: center;
    color: white;
}
#aboutMain{
    align-items: flex-start;
}
.aboutCard{
    background: white;
    min-height: 15vh;
    width: 80%;
    display: inline-block;
    margin: 4px;
    word-wrap: break-word;
    font-size: 13px;
    box-shadow: 0 1px 0 black;
}
.aboutCardLeft{
    border-radius: 0 4px 0 0;
}
.aboutCardRight{
    color: white;
    background: var(--color-bluish);
    box-shadow: 0px 1px 0px rgb(54, 112, 150);
    align-self: flex-end;
    text-align: end;
    border-radius: 4px 0 0 0;
}
.aboutCardCenter{
    align-self: center;
    text-align: center;
    background: var(--color-blackbrownish);
    color: white;
}